@tailwind base;
@tailwind components;
@tailwind utilities;

.MF {
  font-family: "Satisfy", cursive;
  font-family: "Source Sans Pro", sans-serif;
}

.SF {
  font-family: "Poppins", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Source Sans Pro", sans-serif;
}
